body {
	font-family: sans-serif;
	line-height: 1.5;
	font-size: 16px;
	background-color: #f6f6f6;
}
a {color: orange;}
a:hover {color: blue;}
.wrapper {
	max-width: 1000px;
	background: white;
	padding: 60px;
}
header h1 {
	text-decoration: none;
	margin-bottom: 0;
}
header p {margin-top: 0;}
header {
	border-bottom: 1px solid;
	text-align: center;
	padding: 0 0 30px 0;
}
.page {
	border-left: none;
	width: 100%;
}
footer {border-top: 1px solid;}
aside {width: 100%;}
aside nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	color: white;
}
aside nav li {
	float: left;
	margin-bottom: 0;
}
aside nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
aside nav li a:hover {
	background-color: #111;
	color: orange;
}
aside nav li:last-child {display: none;}